@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "font-sito";
    src: local("font-sito"), url(./font/inriaserif-regular-webfont.woff);
}

body {
    font-family: "font-sito", sans-serif !important;
}
